.pricing__section {
  width: 1440px;
  height: auto;
  flex-shrink: 0;
  background-color: var(--color-base);
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color:  var( --color-rare);
}

.pricing__section--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__section--card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  margin-bottom: 50px;
  place-items: center;
}

.pricing__content--title {
  color: var(--color-secondary);
  text-align: center;
  font-size: var(--font-size-max);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-min);
  margin-top: 50px;

}

.pricing__card--content {
  width: 262px;
  height: 372px;
  border: 2px solid var(--font-family-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-base);
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--color-secondary);
}

.pricing__card--img {
  position: relative;
}

.pricing__card--img-title {
  position: absolute;
}

.pricing__card--description {
  width: 190px;
  height: 110px;
  display: flex;
  justify-content: center;
}

.pricing__card--statis {
  color: var(--color-secondary);
  text-align: center;
  margin: 0;
  margin-top: 25px;
}

.pricing__card--button {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing__card--img-content {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: var(--color-base);
  font-size: var( --font-size-s);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pricing__img-title {
  display: flex;
  width: 130px;
  height: 27px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--color-base);
  text-align: center;
  font-size: var(--font-size-m);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-medium);
  margin-top: 30px;
  margin: 0;
}

.pricing__card-price {
  display: flex;
  align-items: center;
  color: var(--color-base);
  text-align: center;
  font-size: var(--font-size-giant);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-default);
  margin: 0;
}

.pricing__card-price::before {
  content: "$";
  color: var(--color-base);
  text-align: center;
  font-size: var(--font-size-l);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-medium);
  margin-right: 5px;
}

.pricing-btn {
  border: none;
  background-color: var(--color-base);
}

.pricing__card--content:hover .pricing-btn {
  background-color: var(--color-primary);

}
