.btn {
  padding: 15px 50px 15px 50px;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: var(--base-font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 10px;
  flex-shrink: 0;
  text-transform: uppercase;

}
.outline-button {
  background-color: var(--base-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.filled-button {
  padding: 15px 50px 15px 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--secondary-color);
}
