.btn {
  padding: 15px 50px;
  text-align: center;
  font-size: var(--font-size-base);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-default);
  letter-spacing: 1px;
  border-radius: 10px;
  flex-shrink: 0;
  text-transform: uppercase;
}
.outline-button {
  background-color: var(--color-base);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
.filled-button {
  padding: 15px 50px 15px 50px;
  background-color: var(--color-primary);
  border-radius: 10px;
  color: var(--color-secondary);
}
