.card {
  width: 554px;
  height: 348px;
  font-family: var(--font-family-primary);
  font-size: var(--card-font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--base-line-height);
}
.card-img {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  stroke-width: 2px;
}
.card-name {
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--default-line-height);
}
.card-subs {
  background-color: var(--base-color);
  color: var(--secondary-color);
  font-family: var(--font-family-primary);
  font-size: var(--card-font-size);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: 26px;
}
.card-subs-header {
  width: 262px;
  height: 156px;
  flex-shrink: 0;
  color: var(--base-color);
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--default-line-height);
}
.card-price {
  width: 52px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: var(--base-color);
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 64px;
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--default-line-height);
}
.card-dollar {
  display: flex;
  width: 28px;
  height: 29px;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  color: var(--base-color);
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  line-height: var(--default-line-height);
  letter-spacing: 1px;
}
