.banner-section {
  position: relative;
  padding-top: 25px;
}

.banner-section::after {
  content: "";
  background-image: url("../../assets/images/iphone-app-mobile.png");
  height: 110px;
  width: 225px;
  background-size: cover;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-section__header-text {
  color: var(--color-base);
  font-size: var(--font-size-xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-md);
  margin-left: 30px;
}

.banner-section__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 235px;
  margin: 0 auto;
  padding-bottom: 130px;
}

.banner-section__title {
  color: var(--color-base);
  font-size: var(--font-size-2xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-base);
}

.banner-section__text {
  color: var(--color-base);
}

.banner-section__brand-name {
  color: var(--color-primary);
  font-size: var(--font-size-xlg);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
  margin-top: 15px;
  margin-left: 10px;
}

.banner-section__apps {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 15px;
}

.banner-section__app-download {
  width: 67.5px;
  height: 20px;
  display: block;
}

.app-store-img:hover,
.google-play-img:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .banner-section {
    padding-left: 50px;
    padding-top: 50px;
  }

  .banner-section::after {
    background-image: url("../../assets/images/iphone-app.png");
    width: 220px;
    height: 337px;
    bottom: 0;
    transform: translateX(25%);
  }

  .banner-section__brand-name {
    font-size: var(--font-size-2xlg);
  }

  .banner-section__header-text {
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-normal);
    margin-left: 0;
  }

  .banner-section__description {
    margin: 0;
    width: 280px;
    padding-bottom: 0;
    padding-top: 60px;
  }

  .banner-section__app-download {
    width: 71.914px;
    height: 21.291px;
  }

  .banner-section__apps {
    justify-content: start;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .banner-section__header-text {
    font-size: var(--font-size-md);
  }

  .banner-section__brand-name {
    font-size: var(--font-size-3xlg);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-xlg);
  }

  .banner-section__description {
    width: 450px;
    padding-top: 151px;
    gap: 30px;
  }

  .banner-section__title {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-3xlg);
  }

  .banner-section__app-download {
    width: 135px;
    height: 40px;
  }

  .banner-section::after {
    width: 358px;
    height: 551px;
  }

  .banner-section__apps {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
