.banner-section {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  padding-top: 7%;
}

.banner-section__header-text {
  width: 180px;
  color: var(--color-base);
  font-size: var(--font-size-xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-md);
  text-align: center;
}

.banner-section__description {
  width: 235px;
  margin: 0 auto;
}


.banner-section__description-title {
  color: var(--color-base);
  font-size: var(--font-size-2xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-base);
}

.banner-section__description-text {
  color: var(--color-base);
  margin-top: 15px;
}

.banner-section__description-main {
  color: var(--color-primary);
  font-size: var(--font-size-xlg);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
  margin: 15px 10px;
}

.banner-section__image {
  background-image: url("../../assets/images/iphon-app.png");
  height: 110px;
  width: 225px;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 10px;
  
}

.banner-section__apps {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 27px;
}

.banner-section__app-dowload {
  width: 67.5px;
  height: 20px;
  display: block;
}

.appstore-img:hover,
.google-play-img:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .banner-section {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 6%;
  }

  .banner-section__image {
    background-image: url("../../assets/images/iphone-app.png");
    width: 220px;
    height: 337px;
  }

  .banner-section__description-main {
    font-size: var(--font-size-2xlg);
  }

  .banner-section__image--iphone,
  .banner-section__image--iphone-screen {
    display: none;
  }

  .banner-section__image {
    grid-row: span 3;
    margin-top: 0;
  }

  .banner-section__header-text {
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-normal);
    width: 279px;
    margin-left: 0;
  }

  .banner-section__description {
    grid-column: 1 / span 1;
    grid-row: 2;
    justify-self: end;
    margin: 0;
    width: 280px;
  }

  .banner-section__image--iphone-app {
    display: block;
    width: 220px;
    height: 337px;
  }

  .banner-section__app-dowload {
    width: 71.914px;
    height: 21.291px;
  }

  .banner-section__apps {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .banner-section__header-text {
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
    margin-left: 50px;
  }

  .banner-section__description-main {
    font-size: var(--font-size-3xlg);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-xlg);
  }

  .banner-section__description {
    width: 450px;
  }

  .banner-section__description-title {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-3xlg);
  }

  .banner-section__description-text {
    margin-top: 20px;
  }

  .banner-section__app-dowload {
    width: 135px;
    height: 40px;
  }

  .banner-section__image {
    margin-top: 56px;
    width: 358px;
    height: 551px;
  }
}
