.project__contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.project__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project__item-description {
  display: flex;
  flex-direction: column;
}

.project__item-title {
  text-align: center;
  font-size: var(--font-size-xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: 24px;
  text-transform: uppercase;
}

.project__item-author::before {
  content: "by";
  display: block;
  line-height: var(--line-height-2xlg);
}

.project__item-author {
  text-align: center;
}

.project-btn {
  margin-top: 10px;

  &:hover {
    background-color: var(--color-primary);
  }
}

.project__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 29px;
}

.project__header-text {
  text-align: center;
}

.content__item-img {
  background-color: var(--color-primary);
  order: -1;
  width: 120px;
  height: 120px;
  border: 4px var(--border-input-style-default) var(--color-border-primary);
  border-radius: 50%;
  position: relative;
}

.project__view {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: baseline;
  gap: 5px;
}

.quantity-view-img {
  width: 20px;
  height: 11px;
}

.project-btn:hover {
  + .content__item-img {
    border-color: var(--color-primary);
  }

  + .project__item::before {
    display: block;
  }

  + .content__item-img::before {
    content: '';
    background-image: url(../../assets/images/view.svg);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 11px;
  }
  
  + .content__item-img::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(196, 149, 39, 0.35);
  }

  + .content__item-img .project__view {
    display: flex;
  }
}

@media (min-width: 768px) {
  .project__contents {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 50px;
  }

  .project__item-description {
    height: 100px;
  }

  .content__item-img {
    width: 160px;
    height: 160px;
  }
}

@media (min-width: 1440px) {
  .project__header {
    margin-top: 67px;
  }

  .content__item-img {
    width: 262px;
    height: 262px;
  }

  .project__item-title {
    font-size: var(--font-size-md);
    line-height: var(--line-height-2xlg);
  }
  .project-btn:hover + .content__item-img::before {
    width: 40px;
    height: 22px;
  }
}
