.main-header {
  background-image: url("../../assets/images/background-header.png");
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.navbar__logo {
  color: var(--color-primary);
  font-size: var(--font-size-2xlg);
  font-style: var(--font-weight-primary);
  font-weight: var(--font-style-default);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-xlg);
}

.icon-menu {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.navbar__list,
.navbar__list-icon {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    padding: 20px 15px;
  }

  .icon-menu {
    display: none;
  }

  .navbar__content {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .navbar__list-link {
    display: flex;
    justify-content: space-around;

    &:hover {
      color: var(--color-primary);
    }
  }

  .navbar__list-link {
    color: var(--color-base);
    font-size: var(--font-size-md);
    font-style: var(--font-style-default);
    font-weight: var(--font-weight-primary);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  .navbar__list {
    display: flex;
    gap: 40px;
  }

  .navbar__list-link {
    color: var(--color-base);
    text-decoration: none;
    align-items: center;
    font-size: var(--font-size-m);
    font-style: var(--font-style-default);
    font-weight: var(--font-weight-primary);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-medium);
  }

  .navbar__list-icon {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .custom-select {
    width: 80px;
    border-radius: 20px;
    border: 1px solid var(--color-base);
    text-align: center;
    color: var(--color-base);
    background-color: var(--color-background);
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-base);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
  }

  .navbar__language {
    position: relative;
  }

  .icon-search-img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
}
