.heading-section {
  font-size: var(--font-size-lg);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-3xlg); 
  letter-spacing: var(--letter-spacing-xs);
}

.text-normal {
  font-size: var(--font-size-2xs);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-primary);
  line-height: var(--line-height-base);
}

@media (min-width: 768px) {
  .heading-section {
    font-size: var(--font-size-xlg);
    letter-spacing: var(--letter-spacing-2xs);
  }
}

@media (min-width: 1440px) {
  .text-normal {
    font-size: var(--font-size-base);
    line-height: var(--line-height-md);
  }

  .heading-section {
    line-height: var(--line-height-5xlg);
  }
}
